@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
.about__container{
    display: flex;
    width: 100vw;
    height: auto;
    padding: 0px 20px;
    z-index: 100;
}
.about__contentHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: orange; */
    flex-direction: column;
}
.headerAbout{
    background-color: #efefef;
    width: 100vw;
    height: 130px;
    display: flex;
    justify-content:center;
    align-items:center;
}
.about__imgHolder{
    flex: 0.5;
    display: flex;
    justify-content:center;
    align-items: center;
    /* background-color: rebeccapurple; */
}
.about__contentHolder{
    flex: 1;
}
.mePic{
    width: 85%;
    height: 85%;
    object-fit: contain;
}
.contentHeader{
    margin:50px 0;
    font-size: 32px;
    font-family: 'Shadows Into Light', cursive;
}
#targeta:hover{
    color: rgb(66, 66, 66);
    text-decoration: none;
}
.socialMedia{
    margin-top: 40px;
}
.contentHeader1{
    font-size: 32px;
    margin-top:30px;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}
.socialMediaHolder{
    height: 50px;
    display: flex;
}
.socialMediaHolder > a{
    font-size: 30px;
    margin-right: 30px;
    color: #000000;
}
.contentContent{
    font-size: 20px;
    /* margin-top: 60px; */
}

@media only screen and (max-width: 1199px){
    .contentContent{
        font-size: 15px;
        margin-top: 30px;
    }
    .socialMediaHolder > a{
        font-size: 20px;
        margin-right: 30px;
        color: #000000;
    } 
    .socialMedia{
        margin-top: 30px;
    }
    .about__container{
        height: auto;
        padding: 50px 20px;
        z-index: 100;
    }
}

@media only screen and (max-width: 945px){
    .contentContent{
        font-size: 15px;
        margin-top: 60px;
    }
}
@media only screen and (max-width: 785px){
    .about__container{
       flex-direction: column;
    }
    .about__container{
        padding: 30px;
    }
    .mePic{
        width:60%;
        height: 60%;
        object-fit: contain;
    }
    .about__contentHolder{
        flex: 0.5;
    }
    
    .contentContent{
        margin-top: 40px;
    }
}
@media only screen and (max-width: 500px){
    .headerAbout{
        height: 90px;
    }
    .about__container{
        padding: 20px;
    }
    .mePic{
        width: 90%;
        height: 90%;
    }
    .about__contentHolder{
        flex: 0.5;
    }

}