@import url('https://fonts.googleapis.com/css?family=Roboto');
.navbar{
    width: 100vw !important;
    z-index: 100 !important;
    padding-top: 30px !important;
    background-color: white;
}
.another{
    flex: 1 !important;
}

#responsive-navbar-nav{
    position: relative;
    overflow: hidden;
    transition: all 0.6s;
}
.nav-link{
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}

.menu{
   color: black !important;
}
.navbar-toggler-icon{
    width: 100% !important;
    height: 100% !important;
}
.nav-item{
    margin-right: 10px !important;
}

.icons{
    margin-right: 1px;
    margin-top: -2px;
}
.menu{
    font-size: 30px !important;
}
.navbar-logo{
    padding: 15px !important;
    color: #000000 !important;
    font-size: 20px !important;
    font-family: 'Comic Neue', cursive;
    letter-spacing: 3px;
    margin-top: 5px;
    font-weight: 600;
}
.nav-link{
    color: #000000 !important;
    font-size: 18px;
    margin-top: 5px;
    /* font-family: 'Comic Neue', cursive; */
    font-weight: 300;
}
.nav-item:hover > .nav-link, .nav-item:hover > .icons{
    color: #0689a0 !important;
    transition: all 0.1s !important;
}
