.indiProjectContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #101130;
    color: #fff;
}
.projContent{
    display: flex;
    flex-direction: column;
}
.headerAbout {
    background-color: #efefef;
    width: 100vw;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    /* margin-top: 100px; */
}
.contentHeader {
    letter-spacing: 6px;
}
.imgHolderProj {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    width: 100vw;
}
.projectCertHolder {
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    /* height: 500px; */
    padding: 70px 120px;
    object-fit: contain;
    color: #000000;
}
.headerAch {
    text-align: center;
    height: 130px;
    background-color: #101130;
    margin-bottom: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projectCertHolder1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 70px 120px;
    object-fit: contain;
    background-color: #ffffff;
    color: #000000;
}
.imgOriginal1 {
    height: 300px;
    width: 500px;

}
.imgOriginal {
    height: 600px;
    width: 600px;
    margin-right: 100px;
}
.infoProject1 {
    margin-right: 100px;
}
.infoProject > h3 {
    margin-bottom: 20px;

}
@media only screen and (max-width: 1128px) {
    .infoProject > p {
        font-size: 15px;
    }
    .projectCertHolder {
        flex-direction: column;
        padding: 50px;
    }
    .projectCertHolder1 {
        flex-direction: column;
        padding: 50px;
    }
    .infoProject1 {
        margin-right: 0;
    }
    .imgOriginal {
        margin-right: 0;
       
    }
    
    .infoClassWha{
        padding-top: 0;
    }
    .infoProject1 > h3{
        padding-top: 10px;
    }
    .infoProject1 > p{
        padding-bottom: 50px;
    }
}
@media only screen and (max-width: 980px) {
    .imgHolderProj {
       flex-direction: column;
    }
    .imgOriginal {
        height: 500px;
        width: 500px;
    }
    .infoClassWha{
        padding-top: 0;
    }

}
@media only screen and (max-width: 625px) {
    .imgOriginal1 {
        height: 200px;
        width: 300px;
    }
    .imgOriginal{
        height: 350px;
        width: 350px;
    }
    .infoProject > h3{
        font-size:18px;
    }
    .infoProject > p{
        font-size: 13px;
    }
    .infoProject1 > h3{
        font-size:18px;
    }
    .infoProject1 > p{
        font-size: 13px;
    }
    .imgHolderProj {
        
        padding: 0 20px;
    }
    .projectCertHolder {
        padding:20px;
    }
    .projectCertHolder1 {
        padding:10px;
    }
    .headerAch {
        height: 100px;
        font-size: 15px;
    }
    .contentHeader {
       font-size: 22px;
    }
}
@media only screen and (max-width: 321px) {
    .imgOriginal{
        height: 300px;
        width: 300px;
    }
    .projectCertHolder {
        padding:10px;
    }
}
