.projectsImg{
    width: 30%;
    height: 800px;
}
.title{
    margin-top: 50px;
}
.certHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}
.certImgHolder{
    flex: 0.5;
    padding-right: 30px;
}
.certAwardPic{
    width: 100%;
}
.certInfo{
    flex: 1;
}
@media (max-width: 1000px) {
    .certHolder{
        display: flex;
        flex-direction: column;
        
    } 
    .certImgHolder{
        margin-bottom: 50px;
        padding-right: 0;
    }
}