.projectsMainContainer{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items:center;
}
.contentHeader{
    margin:50px 0;
    font-size: 32px;
    font-family: 'Shadows Into Light', cursive;
}
.headerAbout{
    background-color: #efefef;
    width: 100vw;
    height: 130px;
    display: flex;
    justify-content:center;
    align-items:center;
}
.projectsContentMain{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 500px){
    .headerAbout{
        height: 90px;
    }
}