.blogCardContainer{
   display: flex;
   flex-direction: column;
   width: 480px;
   justify-content: center;
   align-items: center; 
}
.imgHolder{
   width: 200px;
   height: 270px;
   object-fit: contain;
}
.imgOfBlog{
   width: 100%;
   height: 100%;
}
.blogContent{
   width: 380px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}
.blogContent > p{
   color: gray;
   font-size: 15px;
   text-align: center;
   margin-top: 12px;
}
.authorName{
   color: black;
   font-weight: 400;
}
.blogContent > h3{
   text-align: center;
   font-weight: 500;
   letter-spacing: 2px;
   font-size: 25px;
}
.hashContainer{
   display:flex;
   width: 380px;
   height: 40px;
   /* background-color: pink; */
   justify-content: center;
   align-items: center;
}
.hashContainer > p{
   margin-right: 10px;
   color: gray;
}
.abstract{
   margin-top: -10px !important;
   color: #000000 !important;
}
.reading{
   color: rgb(179, 34, 179);
   font-weight: 600;
}