.homepageContainer{
    position: relative;
    width: 100vw;
    height: 720px;
    display: flex;
    justify-content:center;
    background: url('../../assets/Flat-Mountains.svg') no-repeat top;
    background-size: cover;
    align-items: center;
    /* background-color: transparent; */
    z-index: 2;
}
.bgImg{
    position: absolute;
    width: 100%;
    height: 720px;
    background-color: white;
    /* background: url('../../assets/just.svg') no-repeat center; */
    z-index: 1;
    top: 0;
    left: 0;
    /* margin-top: -10px; */
}
.colorP{
    color: #000000;
}
.bgVid{
    flex: 0.5;
    margin-top: -70px;
    z-index: 2;
}
.bgVid > p{
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
    line-height: 80px;
    letter-spacing: 6px;
    color: #000000;
    z-index: 2;
}
.btnContainer{
    width: 180px;
    height: 230px;
    margin-bottom: 250px;
    z-index: 2;
}
.btnContainer > p{
    text-align: center;
    
}
.btnAbout{
    width: 150px !important;
    height: 50px !important;
    background-color: #fce84f !important;
    border: 1px solid #fce84f !important;
    outline: none !important;
    z-index: 2;
}

.btnAbout > a{
    text-decoration: none;
    color: #000000;
    font-family: 'New Tegomin', serif !important;
}
.btnAbout:hover{
    background-color: transparent !important;
}

.btnAbout:hover > a{
    text-decoration: none;
    color: #000000;
} 
.mePic{
    width: 100%;
    height: 100%;
    
}

.j{
    /* color: #d0504b; */
    font-size:90px;
}

.n{
    /* color: #000000; */
    font-size:90px;
}
.t{
    /* color: #000000; */
    font-size:90px;
}
.lilInfo{
    font-size:20px !important;
    letter-spacing: 2px !important;
    line-height: 40px !important;
    animation: anim 1s ease-in;
    color: gray !important;
    
}
@keyframes anim{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/* @media only screen and (max-width: 1106px){ */
@media only screen and (max-width: 1106px){
    .homepageContainer{
        background: url('../../assets/Flat-Mountains.svg') no-repeat bottom;
    }
    .bgVid > p{
        font-size: 40px;
    }
    .j{
        font-size:70px;
    }
    
    .n{
        font-size:70px;
    }
    .t{
        font-size:70px;
    }
    .lilInfo{
        font-size:15px !important;
    }
    .bgVid{
        flex: 0.5;
        padding-right: 50px !important;
        margin-top: 0px;
    }
    .btnContainer{
        width: 160px;
        height: 210px;
        margin-bottom: 50px;
    }
}
@media only screen and (max-width: 950px){
    .bgVid{
        flex: 0.65;
        padding-right: 0px !important;
    }
    .btnContainer{
        width: 150px;
        height: 180px;
        margin-bottom: 20px;
    }
    .homepageContainer{
        background: url('../../assets/Flat-Mountains.svg') no-repeat bottom;
        height: 720px;
     }
}
@media only screen and (max-width: 685px){
    .bgVid{
        flex: 0.51 !important;
        padding-right: 0px !important;
        margin-top: -100px;
    }
    .homepageContainer{
       flex-direction: column;
       background: url('../../assets/Flat-Mountains.svg') no-repeat bottom;
       /* height: 500px; */
    }
    .bgVid > p{
       text-align: center;
       font-size: 30px;
       line-height: 50px;
    }
    .j{
        font-size:50px;
    }
    
    .n{
        font-size:50px;
    }
    .t{
        font-size:50px;
    }
    .lilInfo{
        font-size:15px !important;
        line-height: 30px !important;
    }
    .btnContainer{
       margin-top: -150px;
       width: 120px;
       height: 150px;
       margin-bottom: 0;
    }
    .colorP{
        font-size: 12px;
    }
}
@media only screen and (max-width: 320px){
    .bgVid{
        flex: 0.6 !important;
    }
    .bgVid > p{
       text-align: center;
       font-size: 20px;
       line-height: 50px;
    }
    .j{
        font-size:40px;
    }
    
    .n{
        font-size:40px;
    }
    .t{
        font-size:40px;
    }
    .lilInfo{
        font-size:10px !important;
    }
    
}